body {
background: rgb(23,179,179);
}

#LOGO {
    width: 30%;
    background-image: rgb(23,179,179);
}
 
.principal {
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

#AVATAR{
    width: 20%;
}