body {

}

#LOGO {
    width: 30%;
}
 
.principal {
    background: rgb(23,179,179);
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: black;
}

#AVATAR{
    width: 50%;
}